# Ingesta, análisis exploratorio y visualización de datos
En este notebook vamos a implementar el análisis exploratorio de datos (EDA) para analizar datasets para resumir sus principales características.
Usando EDA, se puede entender una dataset de una manera fácil, encontrar patrones, identificar valores anómalos y explorar a relación entre variables usando técnicas tanto gráficas como no gráficas.

EDA también nos ayuda a escoger cuál característica debe ser considerada para usar en nuestro modelo de machine learning.

## Tabla de contenido
1. Entendiendo el caso
2. Descripción de las variables
3. Entendimiento de las variables
4. Limpieza de las variables
5. Visualización de los datos

## 1. Entendiendo el caso
Nuestro problema aborda una serie de datos clínicos, para-clínicos y socio demográficos de pacientes que han desarrollado sepsis. Nuestro equipo "Health Tech Synergy" desarrolla predictivo para determinar la suceptibilidad de un individuo par desarrollar sepsis a partir de estos datos.

## 2. Descripción de las variables
Estas son las variables contenidas en nuestra base de datos:

| **Variable**       | **Tipo**         | **Descripción**                                                                                                                                           |
|--------------------|------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------|
| HR                 | Clínica           | Frecuencia cardíaca del paciente (pulsaciones por minuto).                                                                                                |
| O2Sat              | Clínica           | Saturación de oxígeno en la sangre (%).                                                                                                                   |
| Temp               | Clínica           | Temperatura corporal (°C).                                                                                                                                |
| SBP                | Clínica           | Presión arterial sistólica (mmHg).                                                                                                                        |
| MAP                | Clínica           | Presión arterial media (mmHg).                                                                                                                            |
| DBP                | Clínica           | Presión arterial diastólica (mmHg).                                                                                                                       |
| Resp               | Clínica           | Frecuencia respiratoria (respiraciones por minuto).                                                                                                        |
| SepsisLabel        | Clínica           | Indicador de sepsis (0: No sepsis, 1: Sepsis).                                                                                                            |
| ICULOS             | Clínica           | Duración de la estancia en la unidad de cuidados intensivos (horas).                                                                                       |
| EtCO2              | Paraclínica       | Presión de dióxido de carbono al final de la espiración.                                                                                                   |
| BaseExcess         | Paraclínica       | Exceso de base en la sangre (medido en mEq/L).                                                                                                            |
| HCO3               | Paraclínica       | Bicarbonato en sangre (mEq/L).                                                                                                                            |
| FiO2               | Paraclínica       | Fracción inspirada de oxígeno (porcentaje).                                                                                                               |
| pH                 | Paraclínica       | pH sanguíneo.                                                                                                                                            |
| PaCO2              | Paraclínica       | Presión parcial de dióxido de carbono (mmHg).                                                                                                             |
| SaO2               | Paraclínica       | Saturación de oxígeno arterial (%).                                                                                                                       |
| AST                | Paraclínica       | Aspartato aminotransferasa, un marcador de daño hepático.                                                                                                 |
| BUN                | Paraclínica       | Nitrógeno ureico en sangre (mg/dL), indicador de función renal.                                                                                           |
| Alkalinephos       | Paraclínica       | Fosfatasa alcalina, un marcador de función hepática y ósea.                                                                                               |
| Calcium            | Paraclínica       | Nivel de calcio en la sangre (mg/dL).                                                                                                                     |
| Chloride           | Paraclínica       | Nivel de cloro en la sangre (mmol/L).                                                                                                                     |
| Creatinine         | Paraclínica       | Creatinina en sangre, indicador de la función renal (mg/dL).                                                                                              |
| Bilirubin_direct   | Paraclínica       | Bilirrubina directa (mg/dL).                                                                                                                              |
| Glucose            | Paraclínica       | Nivel de glucosa en sangre (mg/dL).                                                                                                                       |
| Lactate            | Paraclínica       | Nivel de lactato en sangre, indicador de hipoxia (mmol/L).                                                                                                |
| Magnesium          | Paraclínica       | Nivel de magnesio en sangre (mg/dL).                                                                                                                      |
| Phosphate          | Paraclínica       | Nivel de fosfato en sangre (mg/dL).                                                                                                                       |
| Potassium          | Paraclínica       | Nivel de potasio en sangre (mmol/L).                                                                                                                      |
| Bilirubin_total    | Paraclínica       | Bilirrubina total en sangre (mg/dL).                                                                                                                      |
| TroponinI          | Paraclínica       | Troponina I, un marcador de daño cardíaco.                                                                                                                |
| Hct                | Paraclínica       | Hematocrito, proporción de glóbulos rojos en la sangre (%).                                                                                               |
| Hgb                | Paraclínica       | Hemoglobina en sangre (g/dL).                                                                                                                             |
| PTT                | Paraclínica       | Tiempo de tromboplastina parcial, evalúa la coagulación (segundos).                                                                                       |
| WBC                | Paraclínica       | Recuento de glóbulos blancos (10^9/L).                                                                                                                    |
| Fibrinogen         | Paraclínica       | Nivel de fibrinógeno en sangre (mg/dL), un factor de coagulación.                                                                                         |
| Platelets          | Paraclínica       | Conteo de plaquetas en sangre (10^9/L).                                                                                                                   |
| Age                | Sociodemográfica  | Edad del paciente (años).                                                                                                                                 |
| Gender             | Sociodemográfica  | Género del paciente (0: Mujer, 1: Hombre).                                                                                                                |
| Unit1              | Sociodemográfica  | Unidad en la que se encuentra el paciente (0: No es unidad 1, 1: Es unidad 1).                                                                            |
| Unit2              | Sociodemográfica  | Segunda unidad en la que se encuentra el paciente (0: No es unidad 2, 1: Es unidad 2).                                                                    |
| HospAdmTime        | Sociodemográfica  | Tiempo desde la admisión hospitalaria hasta el inicio del registro (horas).                                                                                |
| Patient_ID         | Sociodemográfica  | Identificación única del paciente.                                                                                                                        |

## 3. Entendimiento de los datos
Para comprender los datos debemos cargarlos en nuestro sistema. Para comenzar cargamos las  librerías necesarias para nuestro análisis.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('whitegrid')

import warnings
warnings.filterwarnings('ignore')

filename = 'data/sepsis_ejemplo.csv'
df = pd.read_csv(filename)

### Visualizando algunas variables
Obtenemos las 5 primeras filas del dataset. Esto se hace con la función *df.head()* para obtener una muestra al azar se usa *df.sample()*. Para obtener las últimas se usa *df.tail()*.

In [2]:
df.head()

,Unnamed: 0.1,Unnamed: 0,Hour,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,...,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,Patient_ID
0,1353110,53,53,61.5,99.5,38.25,140.0,89.0,64.0,20.0,...,NaN,NaN,72.00,1,0.0,1.0,-84.73,54,0,117203
1,1259425,15,15,90.0,96.0,36.80,125.0,77.0,54.0,20.0,...,NaN,NaN,75.00,0,0.0,1.0,-25.44,16,0,115025
2,15353,18,18,78.0,97.0,NaN,121.0,86.0,76.0,21.0,...,NaN,NaN,68.63,1,0.0,1.0,-67.35,23,0,14692
3,223518,26,26,82.0,95.0,NaN,133.0,80.0,59.0,12.0,...,NaN,NaN,66.36,1,NaN,NaN,-0.02,31,0,16777
4,917766,23,23,84.0,96.0,NaN,151.0,130.0,115.0,26.0,...,NaN,NaN,55.00,0,0.0,1.0,-6.26,24,0,100738

### Obteniendo información general de la base de datos
El método *df.info()* devuelve la información acerca del Dataframe incluyendo el índice, el tipo de datos y columnas, valores no nulos y la memoria usada

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15522 entries, 0 to 15521
Data columns (total 45 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0.1      15522 non-null  int64
 1   Unnamed: 0        15522 non-null  int64
 2   Hour              15522 non-null  int64
 3   HR                13933 non-null  float64
 4   O2Sat             13479 non-null  float64
 5   Temp              5204 non-null   float64
 6   SBP               13204 non-null  float64
 7   MAP               13522 non-null  float64
 8   DBP               10628 non-null  float64
 9   Resp              13048 non-null  float64
 10  EtCO2             570 non-null    float64
 11  BaseExcess        779 non-null    float64
 12  HCO3              643 non-null    float64
 13  FiO2              1232 non-null   float64
 14  pH                1001 non-null   float64
 15  PaCO2             821 non-null    float64
 16  SaO2              528 non-null    float64
 17  AST               261 non-null    float64
 18  BUN               1046 non-null   float64
 19  Alkalinephos      263 non-null    float64
 20  Calcium           922 non-null    float64
 21  Chloride          700 non-null    float64
 22  Creatinine        931 non-null    float64
 23  Bilirubin_direct  36 non-null     float64
 24  Glucose           2639 non-null   float64
 25  Lactate           400 non-null    float64
 26  Magnesium         948 non-null    float64
 27  Phosphate         618 non-null    float64
 28  Potassium         1419 non-null   float64
 29  Bilirubin_total   254 non-null    float64
 30  TroponinI         148 non-null    float64
 31  Hct               1326 non-null   float64
 32  Hgb               1153 non-null   float64
 33  PTT               457 non-null    float64
 34  WBC               993 non-null    float64
 35  Fibrinogen        108 non-null    float64
 36  Platelets         931 non-null    float64
 37  Age               15522 non-null  float64
 38  Gender            15522 non-null  int64
 39  Unit1             9418 non-null   float64
 40  Unit2             9418 non-null   float64
 41  HospAdmTime       15522 non-null  float64
 42  ICULOS            15522 non-null  int64
 43  SepsisLabel       15522 non-null  int64
 44  Patient_ID        15522 non-null  int64
dtypes: float64(38), int64(7)
memory usage: 5.3 MB

### Obtenemos la forma de la base de base de datos

In [7]:
df.shape

(15522, 45)

### Inspeccionamos las nombres de las variables

In [8]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Hour', 'HR', 'O2Sat', 'Temp', 'SBP',
       'MAP', 'DBP', 'Resp', 'EtCO2', 'BaseExcess', 'HCO3', 'FiO2', 'pH',
       'PaCO2', 'SaO2', 'AST', 'BUN', 'Alkalinephos', 'Calcium', 'Chloride',
       'Creatinine', 'Bilirubin_direct', 'Glucose', 'Lactate', 'Magnesium',
       'Phosphate', 'Potassium', 'Bilirubin_total', 'TroponinI', 'Hct', 'Hgb',
       'PTT', 'WBC', 'Fibrinogen', 'Platelets', 'Age', 'Gender', 'Unit1',
       'Unit2', 'HospAdmTime', 'ICULOS', 'SepsisLabel', 'Patient_ID'],
      dtype='object')

### Estadisticas descriptivas para la base de datos

In [9]:
df.describe()

,Unnamed: 0.1,Unnamed: 0,Hour,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,...,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,Patient_ID
count,1.552200e+04,15522.000000,15522.000000,13933.000000,13479.000000,5204.000000,13204.000000,13522.000000,10628.000000,13048.000000,...,108.000000,931.000000,15522.000000,15522.000000,9418.000000,9418.000000,15522.000000,15522.000000,15522.000000,15522.000000
mean,7.787374e+05,25.395954,25.395954,84.571916,97.160732,36.965436,123.532055,82.136896,63.604582,18.746417,...,289.722222,191.363588,61.987202,0.558949,0.496178,0.503822,-55.780407,26.870378,0.017781,59807.965533
std,4.482283e+05,28.845925,28.845925,17.398287,2.978057,0.770606,23.349641,16.558597,14.262691,5.159581,...,156.084439,97.330140,16.365492,0.496529,0.500012,0.500012,163.009917,28.860795,0.132160,50286.653500
min,1.200000e+01,0.000000,0.000000,31.000000,20.000000,31.900000,39.000000,21.000000,20.000000,1.000000,...,52.000000,8.000000,15.000000,0.000000,0.000000,0.000000,-5366.860000,1.000000,0.000000,9.000000
25%,3.913850e+05,9.000000,9.000000,72.000000,96.000000,36.500000,106.250000,71.000000,54.000000,15.500000,...,191.500000,123.500000,52.000000,0.000000,0.000000,0.000000,-45.772500,11.000000,0.000000,10241.000000
50%,7.842220e+05,19.000000,19.000000,83.000000,98.000000,37.000000,121.000000,80.000000,62.000000,18.000000,...,258.500000,180.000000,64.000000,1.000000,0.000000,1.000000,-6.120000,21.000000,0.000000,20493.500000
75%,1.164367e+06,33.000000,33.000000,95.000000,99.500000,37.440000,138.000000,91.670000,72.000000,21.000000,...,322.750000,237.500000,74.000000,1.000000,1.000000,1.000000,-0.040000,34.000000,0.000000,110087.000000
max,1.552206e+06,329.000000,329.000000,181.000000,100.000000,42.220000,296.000000,296.000000,296.000000,99.000000,...,816.000000,902.000000,100.000000,1.000000,1.000000,1.000000,22.040000,330.000000,1.000000,119992.000000

In [13]:
list(df.SepsisLabel.unique())

[0, 1]